:root {
  --background: #3c3c3b;
  --accent: #00ff00;
  --text: #ffffff;

  color: var(--text);
  background: var(--background);
  font-family: "Ubuntu Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
}
